
.cart-continer{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50vh;
    flex-direction: column;
}

.cart-continer *{
    color: black;
    text-decoration: none;
}

.cart-continer button{
    background-color: rgb(151, 15, 15);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

.pay{
    display: flex;
    background-color: rgb(151, 15, 15);
    color: white;
    width: 300px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px;
    margin: auto;
    align-items: center;
}

.pay h2{
    display: flex;
    margin: auto;
    font-size: 15px;
    text-align: center;
}

.pay a{
    color: white;
    text-decoration: none;
}

.pay:hover{
    background-color: rgb(198, 196, 196);
}

.cart-continer button:hover:active{
    background-color: white;
    color: rgb(151, 15, 15);
}

.cart-body {
    margin: 30px 10px;
}

.cart-empty{
    padding: 50px 40px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.order-placed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 4;
    display: flex;
    flex-direction: column;
}

.order-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.order-info-input{
    background-color: #f0f0f0;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 20px;
   margin: 20px;
   border-radius: 5px;
}

.info {
    align-items: center;
    text-align: center;
    margin: auto;
}

.total-price {
    font-size: 25px;
    padding: 0.4rem;
}

.order-info input, label, button{
    font-size: large;
    padding: 0.15rem;
}

.submit{
    margin: auto;
    align-items: center;
    padding: 5px;
}