
.navbar{
    top: 0;
    position: sticky;
    border-bottom: 1px solid #555;
    background-color: white;
    z-index: 1;
}

.continer * {
    color: black;
    text-decoration: none;
}

.continer{
    display: flex;
    flex-direction: row;
    height: 0.5fr;
    margin: 0.3rem;
    background-color: white;
}

.menu-button{
    height: 20px;
    width: 20px;
    padding: 0.3rem;
}

.menu-button button img{
    width: 25px;
    position: relative;
    top: 4px;
} 

.navbar-menu button img{
    width: 25px;
    position: relative;
    top: 1px;
    padding: 0.2rem;
} 

.menu-button button{
    background-color: white;
    border: none;
}

.logo{
    width: 100px;
    height: inherit;
    text-align: center;
    padding: 0.3rem;
}

.user-info{
    height: inherit;
    display: flex;
    width: 85%;
    direction: rtl;
    gap: 10px;
    padding-top: 5px;
}

.user-info img{
    width: 20px;
}

.user-info div {
    width: 50px;
    background-color: white;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.search{
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 5px;
}

.search-items{
    width: inherit;
    height: 30px;
    text-indent: 5px;
    padding: 0.2em;
    border: 0.1em solid black;
    border-radius: 10px;
    color: var(--general-color);
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100vh;
    text-align: center;
    position: fixed;
    top: 0;
    left: -100%; /* Inițial este în afara ecranului, în stânga */
    background-color: white;
    color: black;
    transition: ease-in-out 0.5s; /* Tranziția pentru a face animarea fluidă */

}

.active{
    left: 0;
    border-right: 0.5px solid #afafaf;
}

.nav-menu-back{
    display: block;
    height: 100vh;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0; /* Inițial este în afara ecranului, în stânga */
    color: black;
    width: 100%;
    z-index: 0;
    background-color: #3c3c3c4d;
}

.navbar-item { 
    padding: 1rem; 
    list-style: none;
    background-color: white;
    color: black;
    text-align: center;
    font-size: large;
}


.navbar-menu-button{
    text-align: end;
    background: white;
    border: none;
}
