.promotions {
    text-align: center;
    background-color: var(--promo-color);
}

.promotions .adds{
    font-size: 1rem;
    color: white;
    padding: 1vh;
    border-radius: 0.3vh;
}

.promotions .links{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1rem;
}

.promotions .links a{
    list-style: none;
    width: 100vw;
    text-align: center;
    margin: auto;
    color: white;
    padding: 0.3rem;
}
